body {
    background-color: #e2e8f0;
      font-family: "Arial", sans-serif;
      color: #333;
      padding: 20px;
  }
  
  header {
    background-color: #d84727;
    color: white;
    padding: 1rem 2rem; /* Ajusté el padding para que el header tenga espacio adecuado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start; /* Alinea los elementos desde la izquierda */
    align-items: center; /* Alinea verticalmente los elementos */
    position: fixed;
    border-bottom: 2px solid #bd3f23;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el header esté siempre encima de otros elementos */
  }
  
  header .menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Espacio entre el botón de hamburguesa y el h4 */
  }
  
  header h4 {
    margin: 0;
    font-size: 1.5rem; /* Ajusté el tamaño del texto del h4 */
    font-weight: 700;
    color: white;
    flex-grow: 1; /* Asegura que el h4 ocupe el espacio restante */
  }
  
  .menu-close {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #ffb563;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  nav.active {
    left: 0;
  }
  
  .nav-item a {
    color: #2c3e50;
    font-size: 1.2rem;
    padding: 15px 20px;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-item a i {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  .nav-item a:hover {
    background-color: #2c3e50;
    color: white;
  }
  